<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
      <title>Schema</title>
<!--<script>

  $(document).ready(function() {
  //$('#field_test_report_ueit_Test_Date_S').datepicker({dateFormat:'yy-mm-dd'});
  //$('#field_test_report_ueit_Test_Date_E').datepicker({dateFormat:'yy-mm-dd'});
  //$('#large').dataTable({ "aaSorting": [[ 0, "desc" ]],"sPaginationType": "full_numbers","bJQueryUI": false});
  $('#large').dataTable({ "aaSorting": [[ 0, "desc" ]],"sPaginationType": "full_numbers","bJQueryUI": false});
  });
</script>      -->
  </head>

<body>

    <h2>
     $bz_nav
    </h2>

<h1></h1>
<!----><form method="post" id="form">


<table width="100%" align="center"  border="0px">

   <tr>
      <td valign="top"><!---->
      <!--<td valign="top" style="border-right: 1px #ccc solid;">-->
		<p><a href="javascript: d.openAll();">open all</a> | <a href="javascript: d.closeAll();">close all</a></p>
	    <script type="text/javascript">		
            $dtree_js		
	    </script>
      </td>
      
   
     <td > 
     		<div id="mainframe" name="mainframe"  ></div>
     </td> 

   </tr>   
</table>

<br /><br />
<!--
<table cellpadding="5" cellspacing="5">
<tr>
	<td valign="top" style="border-right: 1px #ccc solid;">
	<py:for each="table in tables">${table}<br /></py:for>
	</td>
</tr>
</table>-->

<!----></form>
<!--</div>-->

</body>

</html>

